.header{
    background-color: coral;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a{
    color: #fff;
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
}