.error-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.error{
    font-size: 80px;
    font-weight: bold;
}

.link{
    margin-top: 50px;
    background-color: brown;
    color: aliceblue;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}

.link:hover{
    background-color: rgb(142, 23, 23);
}